# Dependencies
/vendor/
/node_modules/
composer.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Auth
auth.json

# Build
/dist/

# Misc
*.cache
.phpunit.result.cache
phpstan.neon
VERSION.txt
