# Dependencies
/vendor/
/node_modules/
composer.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Auth
auth.json

# Testing
.phpunit.result.cache
.phpstan.cache/

# Workbench / Docker runtime
testbench.yaml
docker-compose.yml
/workbench/

# Misc
*.cache
phpstan.neon
VERSION.txt
package-lock.json
